body {
	max-width: 1020px;
	margin: 0 auto;
	text-align: center;
}
.weather-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid black;
}

.weather-bottom > div {
	border: 1px solid red;
	width: 200px;
}
